:host{
  display:grid;
  grid-template-areas: "search search"
                       "food  menu";
 }

.search{
  grid-area: search;
}

hr.style-search {
  margin-top: 10px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.menu{
  grid-area: menu;
  margin-top: 28px;
}

.food{
  grid-area: food;
}


*{margin: 0; padding: 0;}
 
div {
  margin: 20px;
}
 
ul {
  list-style-type: none;
  width: 500px;
}
 
h3 , label {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

label{
  margin: 0 15px 0 0;
  padding: 10px;
}

input{
  font: 100 20px/1.5 Georgia, Times New Roman, serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}
 
p {
  font: 200 20px/1.5 Georgia, Times New Roman, serif;
  color:green;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

img.pequeña{
  width: 50px; height: 50px;
}
img.mediana{
  width: 100px; height: 100px;
}
img.grande{
  width: 200px; height: 200px;
}